[toolchain]
package_manager = "yarn"

[features]
resolution = true
skip-lint = false

[programs.localnet]
voting = "2eVpHPApZM11f17ynHgqUy58XWLveBmVNCWMh6bZd8hw"

[programs.devnet]
election = "2eVpHPApZM11f17ynHgqUy58XWLveBmVNCWMh6bZd8hw"

[registry]
url = "https://api.apr.dev"

[provider]
cluster = "devnet"
wallet = "~/.config/solana/id.json"

[scripts]
test = "yarn run ts-mocha -p ./tsconfig.json -t 2000000 \"tests/**/*.ts\""
